html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}



.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(100, 99, 99, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  left: 10vw;
}

.div-img {
  height: 85%;
  width: 75%;
}

.hihat {
  position: absolute;
  z-index: 1000;
  top: 100px;
  left: 990px;
}

.boom {
  position: absolute;
  z-index: 1000;
  top: 350px;
  left: 500px;
}

.tom {
  position: absolute;
  z-index: 1000;
  top: 150px;
  left: 500px;
}

.clap {
  position: absolute;
  z-index: 1000;
  top: 230px;
  left: 800px;
}

.kick {
  position: absolute;
  z-index: 1000;
  top: 230px;
  left: 250px;
}

.snare {
  position: absolute;
  z-index: 1000;
  top: 130px;
  left: 350px;
}

.ride {
  position: absolute;
  z-index: 1000;
  top: 25px;
  left: 170px;
}

.openhat {
  position: absolute;
  z-index: 1000;
  top: 15px;
  left: 990px;
}

.tink {
  position: absolute;
  z-index: 1000;
  top: 50px;
  left: 500px;
}

